<div class="signup-card">
    <div class="card-title">
        <h1>Create Account</h1>
        <span>Already have an account? <a routerLink="/login">Sign In</a></span>
    </div>
    <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <input type="text" name="name" placeholder="Name" formControlName="name">
        <input type="phone" name="phone" placeholder="Phone" formControlName="phone">
        <input type="password" name="password" placeholder="Password" formControlName="password">
        <input type="roleName" name="roleName" placeholder="Role" formControlName="roleName" value="User">
        <input type="submit" value="Signup">
    </form>
</div>