* {
    box-sizing: border-box;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: rgb(158, 197, 213);
}

button {
    padding: 20px;
    background-color: rgba(165, 174, 63, 0.562);
    border-radius: 10px;
    border: 0;
    outline: none;
    width: 100px;
}

.admin-card {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 40%;

}

.card-title h1 {
    font-size: 26px;
    font-weight: bold;
}